.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
  background-color: #f0f0f0;
}

.top-panel,
.bottom-panel {
  flex: 1;
}

.top-panel {
  padding: 30px;
  margin-bottom: 10px;
  background-color: #ffabab;
}

.bottom-panel {
  padding: 30px;
  background-color: #ffabab;
}

.right-panel {
  flex: 1;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #abc6ff;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 0%;
  vertical-align: middle;
  letter-spacing: 0px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;

}